{% extends 'base.html' %}
<html>
    {% load static %}
    <head>
        {% block title %}
        Todos|Home
        {% endblock title %}
        
    </head>
    <body>
        {% block content %} 
        <!--<script src="{% static 'js/basics.js' %}" type="text/javascript"></script>
        <h1>Current time:{{ currentTime }} </h1>
        <h1>Home page..!!</h1>
        <h3>Length:{{"Rohit loves Rabbit"|length}}</h3>
        <h3>lower:{{"Rohit loves Rabbit"|lower}}</h3>
        <h3>Upper:{{"Get lost Rohith"|upper}}</h3>
        {% for char in "Get lost Rohit" %}
        {{char}}
        {% endfor %}
        <br>
        <img src="{% static 'images/rabbit.jpg' %}" alt="Rohith lover" width="300px" height="300px"/>
        <form action="add" method='post'>
            {% csrf_token %}
            <input type="number" name="a"/>
            <input type="number" name="b"/>
            <input type="submit"/>
        </form>-->
        <table class="table">
            <tr>
                <th>Tasks</th>
                <th>Status</th>
            </tr>
            {% for todo in todos %}
            <tr>
                <td><a href="{% url 'tododetail' todo.id %}">{{todo.name}}</a></td>
                <td>{{todo.completed}}</td>
            </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
        <ul class='pagination mx-auto w-75'>
            {% if page_obj.has_previous%}
            <li class='page-item'>
                <a class='page-link' class='text-muted' href="?page={{page_obj.previous_page_number}}">Previous</a>
            </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <li class='page-item active'>
                <a class='page-link' href=?page={{i}}>{{i}}</a>
            </li>
            {%else %}
            <li class='page-item'>
                <a class='page-link' href=?page={{i}}>{{i}}</a>
            </li>
            {% endif %}
            {% endfor %}
            {%if page_obj.has_next %}
            <li class='page-item'>
                <a class='page-link' href="?page={{page_obj.next_page_number}}">Next</a>
            </li>
            {% endif %}
        </ul>
        {%endif %}
        <!--<h1>{{todo.name}} | {{todo.completed}}</h1>-->
        {% endblock content %}
    </body>
</html>